html
  head
    title Ryan's Blog
  body
    h1 My Blog Posts
    form method="get" action="create" name="create"
      input type="submit" value="New Post"
        ul
          li <input type="text" name="title" id="title" value="#{params[:title]}" disabled=true>
          li
          li



